<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit bill</title>
</head>
<body>
<h2>Fill bills details</h2>

<form th:method="PUT" th:action="@{/common/v1/update/people/{personId}/accounts/{accountId}/bills/{billId}(personId=${personId},accountId=${accountId}, billId=${billId})}" th:object="${bill}">
    <input type="hidden" th:field="*{amount}" th:value="${bill.amount}">

    <label>Currency</label>

    <select th:field="*{currency}">
        <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency.getCurrencyCode()}"></option>
    </select>
    <br>
    <label>Is Overdraft: </label>
    <input type="radio" th:field="*{isOverdraft}" th:value="1" th:text="true"/>

    <input type="radio" th:field="*{isOverdraft}" th:value="0" th:text="false"/>

    <br>
    <input type="submit" value="Update bill">
</form>
</body>
</html>